body{
	background: #91b7c2;
}
div{
	display: inline-block;
}
.kotak{
	height: 50;
	width: 500px;
	background-color: #3d6591;;
	position: relative;
	left: 650px;
	top: 50px;
	
}
.kotaknav{
	position: absolute;
	left: 20px;
	top: -20px;
	background-color: white;
	height: 50px;
	width: 500px;
}
li{
	text-decoration: none;
	display: inline;
	text-transform: uppercase;
	padding: 15px;
}
a{
	text-decoration: none;
}

.anav{
	position: relative;
	top: 0px;
	left: 100px;
	font-style: italic;
	color: black;
}
.fb {
	background-color: darkblue;
	width: 50px;
	height: 50px;
	position: relative;
	top: -40px;
	left: 450px;
}
.twit{
	background-color: blue;
	width: 50px;
	height: 50px;
	position: relative;
	top: -40px;
	left: 425px;
}

h1 {
	position: relative;
	top: 40px;
	left: 850px;
	color: #008bd1;
	text-transform: uppercase;

}
h2{
	position: relative;
	top: -25px;
	left: 980px;
	color: white;
	font-family: lucida;
}
 .anav:hover{
	color: #66add9;
}

.abc{
	width: 50px;
	height: 50px;
	background-color: #00abf0;
	position: relative;
	top: -35px;
	left: 440px;
}
.bcd{
	width: 50px;
	height: 50px;
	background-color: #39559e;
	position: relative;
	top: -35px;
	left: 474px;
}
.bcd:hover{
	width: 50px;
	height: 50px;
	background-color: #4c69b4;
}
.abc:hover{
	width: 50px;
	height: 50px;
	background-color: #66add9;
}strong{
	color: #005884;
	font-size: 36px;
}
.logo {
	position:absolute;
	top: 0px;
	left: 200px;
}
*::selection{
	background-color: #2DCC70;
}
